{{define "yield"}}
    <h1>This is FAQ page</h1>
    <h4>Here you can learn more about this website</h4>
    <h4>press<a href=http://localhost:3000/contact> this </a> if you want to visit other page</h4>
{{end}}